body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  display: flex;
  flex-direction: column;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  width: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.game-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
}

.game-info button:hover {
  background-color: #21a1f1;
}

.game-info div {
  margin-bottom: 10px;
  font-size: 20px;
}
